# Importing necessary libraries

In [1]:
import numpy as np
import pandas as pd

# Reading the data

In [2]:
df = pd.read_csv(r'owid-covid-data.csv')

In [3]:
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92585,ZWE,Africa,Zimbabwe,2021-05-27,38854.0,35.0,31.286,1592.0,3.0,1.000,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
92586,ZWE,Africa,Zimbabwe,2021-05-28,38918.0,64.0,36.286,1592.0,0.0,0.857,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
92587,ZWE,Africa,Zimbabwe,2021-05-29,38933.0,15.0,36.286,1594.0,2.0,1.143,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
92588,ZWE,Africa,Zimbabwe,2021-05-30,38944.0,11.0,37.429,1594.0,0.0,1.143,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
92589,ZWE,Africa,Zimbabwe,2021-05-31,38961.0,17.0,37.857,1594.0,0.0,1.143,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

# Analyzing information about the dataset

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92590 entries, 0 to 92589
Data columns (total 59 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   iso_code                               92590 non-null  object
 1   continent                              88200 non-null  object
 2   location                               92590 non-null  object
 3   date                                   92590 non-null  object
 4   total_cases                            89750 non-null  float64
 5   new_cases                              89749 non-null  float64
 6   new_cases_smoothed                     88737 non-null  float64
 7   total_deaths                           79835 non-null  float64
 8   new_deaths                             79993 non-null  float64
 9   new_deaths_smoothed                    88737 non-null  float64
 10  total_cases_per_million                89270 non-null  float64
 11  new_cases_per_million                  89269 non-null  float64
 12  new_cases_smoothed_per_million         88262 non-null  float64
 13  total_deaths_per_million               79368 non-null  float64
 14  new_deaths_per_million                 79526 non-null  float64
 15  new_deaths_smoothed_per_million        88262 non-null  float64
 16  reproduction_rate                      74471 non-null  float64
 17  icu_patients                           9329 non-null   float64
 18  icu_patients_per_million               9329 non-null   float64
 19  hosp_patients                          11596 non-null  float64
 20  hosp_patients_per_million              11596 non-null  float64
 21  weekly_icu_admissions                  811 non-null    float64
 22  weekly_icu_admissions_per_million      811 non-null    float64
 23  weekly_hosp_admissions                 1466 non-null   float64
 24  weekly_hosp_admissions_per_million     1466 non-null   float64
 25  new_tests                              41902 non-null  float64
 26  total_tests                            41593 non-null  float64
 27  total_tests_per_thousand               41593 non-null  float64
 28  new_tests_per_thousand                 41902 non-null  float64
 29  new_tests_smoothed                     48560 non-null  float64
 30  new_tests_smoothed_per_thousand        48560 non-null  float64
 31  positive_rate                          45759 non-null  float64
 32  tests_per_case                         45163 non-null  float64
 33  tests_units                            50136 non-null  object
 34  total_vaccinations                     12933 non-null  float64
 35  people_vaccinated                      12137 non-null  float64
 36  people_fully_vaccinated                9489 non-null   float64
 37  new_vaccinations                       10836 non-null  float64
 38  new_vaccinations_smoothed              22074 non-null  float64
 39  total_vaccinations_per_hundred         12933 non-null  float64
 40  people_vaccinated_per_hundred          12137 non-null  float64
 41  people_fully_vaccinated_per_hundred    9489 non-null   float64
 42  new_vaccinations_smoothed_per_million  22074 non-null  float64
 43  stringency_index                       78224 non-null  float64
 44  population                             91976 non-null  float64
 45  population_density                     86103 non-null  float64
 46  median_age                             83089 non-null  float64
 47  aged_65_older                          82151 non-null  float64
 48  aged_70_older                          82628 non-null  float64
 49  gdp_per_capita                         83315 non-null  float64
 50  extreme_poverty                        56353 non-null  float64
 51  cardiovasc_death_rate                  83495 non-null  float64
 52  diabetes_prevalence                    85415 non-null  float64
 53  female_smokers                         65359 non-null  float64
 54  male_smokers                           64400 non-null  float64
 55  handwashing_facilities                 41953 non-null  float64
 56  hospital_beds_per_thousand             76123 non-null  float64
 57  life_expectancy                        87920 non-null  float64
 58  human_development_index                83673 non-null  float64
dtypes: float64(54), object(5)
memory usage: 41.7+ MB

#### Description of numerical data values present in the dataset

In [5]:
df.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
count,8.975000e+04,8.974900e+04,88737.000000,7.983500e+04,79993.000000,88737.000000,89270.000000,89269.000000,88262.000000,79368.000000,...,83315.000000,56353.000000,83495.000000,85415.000000,65359.000000,64400.000000,41953.000000,76123.000000,87920.000000,83673.000000
mean,9.428784e+05,6.065578e+03,6078.273726,2.536382e+04,142.207343,127.176786,11571.659247,76.083727,76.290975,252.106321,...,19294.525068,13.382322,258.143058,7.884258,10.540618,32.673933,50.872085,3.028665,73.233802,0.727702
std,6.507005e+06,3.861909e+04,37876.920441,1.512185e+05,781.226472,721.581180,21783.995192,201.058617,158.088957,439.871653,...,19963.713519,19.954802,118.894954,4.074100,10.429258,13.477401,31.761251,2.460948,7.562331,0.150397
min,1.000000e+00,-3.486670e+05,-6223.000000,1.000000e+00,-1918.000000,-232.143000,0.001000,-5160.525000,-276.825000,0.001000,...,661.240000,0.100000,79.370000,0.990000,0.100000,7.700000,1.188000,0.100000,53.280000,0.394000
25%,1.089000e+03,2.000000e+00,7.143000,4.900000e+01,0.000000,0.000000,227.224250,0.207000,1.231000,7.478000,...,4466.507000,0.600000,167.295000,5.310000,1.900000,21.600000,20.859000,1.300000,67.920000,0.602000
50%,1.200250e+04,7.100000e+01,88.714000,3.390000e+02,2.000000,1.286000,1555.757500,7.968000,10.551000,45.630500,...,12951.839000,2.200000,242.648000,7.110000,6.300000,31.400000,49.839000,2.400000,74.620000,0.748000
75%,1.270760e+05,7.880000e+02,827.857000,3.310000e+03,18.000000,14.143000,11572.720500,70.558000,79.279250,277.428250,...,27216.445000,21.200000,329.635000,10.080000,19.300000,41.100000,83.241000,3.861000,78.740000,0.848000
max,1.707274e+08,1.498213e+06,826374.286000,3.550000e+06,17906.000000,14436.286000,177661.296000,18293.675000,4083.500000,3077.839000,...,116935.600000,77.600000,724.417000,30.530000,44.000000,78.100000,100.000000,13.800000,86.750000,0.957000

#### Identifying the number of unique values present in each column (attribute)

In [6]:
df.nunique()

iso_code                                   230
continent                                    6
location                                   230
date                                       517
total_cases                              49061
new_cases                                12285
new_cases_smoothed                       23605
total_deaths                             18699
new_deaths                                2883
new_deaths_smoothed                       6499
total_cases_per_million                  69617
new_cases_per_million                    39390
new_cases_smoothed_per_million           44471
total_deaths_per_million                 43364
new_deaths_per_million                    7399
new_deaths_smoothed_per_million           8786
reproduction_rate                          368
icu_patients                              2497
icu_patients_per_million                  5301
hosp_patients                             4885
hosp_patients_per_million                 8796
weekly_icu_admissions                      620
weekly_icu_admissions_per_million          615
weekly_hosp_admissions                    1302
weekly_hosp_admissions_per_million        1298
new_tests                                22593
total_tests                              40618
total_tests_per_thousand                 35944
new_tests_per_thousand                    7356
new_tests_smoothed                       25543
new_tests_smoothed_per_thousand           7642
positive_rate                              561
tests_per_case                            5286
tests_units                                  4
total_vaccinations                       12450
people_vaccinated                        11564
people_fully_vaccinated                   8904
new_vaccinations                          9579
new_vaccinations_smoothed                13340
total_vaccinations_per_hundred            4669
people_vaccinated_per_hundred             3760
people_fully_vaccinated_per_hundred       2338
new_vaccinations_smoothed_per_million     7274
stringency_index                           176
population                                 228
population_density                         207
median_age                                 136
aged_65_older                              188
aged_70_older                              186
gdp_per_capita                             194
extreme_poverty                             76
cardiovasc_death_rate                      190
diabetes_prevalence                        146
female_smokers                             111
male_smokers                               126
handwashing_facilities                      96
hospital_beds_per_thousand                 101
life_expectancy                            205
human_development_index                    153
dtype: int64

#### Identifying number of NULL values in each column

In [7]:
df.isnull().sum()

iso_code                                     0
continent                                 4390
location                                     0
date                                         0
total_cases                               2840
new_cases                                 2841
new_cases_smoothed                        3853
total_deaths                             12755
new_deaths                               12597
new_deaths_smoothed                       3853
total_cases_per_million                   3320
new_cases_per_million                     3321
new_cases_smoothed_per_million            4328
total_deaths_per_million                 13222
new_deaths_per_million                   13064
new_deaths_smoothed_per_million           4328
reproduction_rate                        18119
icu_patients                             83261
icu_patients_per_million                 83261
hosp_patients                            80994
hosp_patients_per_million                80994
weekly_icu_admissions                    91779
weekly_icu_admissions_per_million        91779
weekly_hosp_admissions                   91124
weekly_hosp_admissions_per_million       91124
new_tests                                50688
total_tests                              50997
total_tests_per_thousand                 50997
new_tests_per_thousand                   50688
new_tests_smoothed                       44030
new_tests_smoothed_per_thousand          44030
positive_rate                            46831
tests_per_case                           47427
tests_units                              42454
total_vaccinations                       79657
people_vaccinated                        80453
people_fully_vaccinated                  83101
new_vaccinations                         81754
new_vaccinations_smoothed                70516
total_vaccinations_per_hundred           79657
people_vaccinated_per_hundred            80453
people_fully_vaccinated_per_hundred      83101
new_vaccinations_smoothed_per_million    70516
stringency_index                         14366
population                                 614
population_density                        6487
median_age                                9501
aged_65_older                            10439
aged_70_older                             9962
gdp_per_capita                            9275
extreme_poverty                          36237
cardiovasc_death_rate                     9095
diabetes_prevalence                       7175
female_smokers                           27231
male_smokers                             28190
handwashing_facilities                   50637
hospital_beds_per_thousand               16467
life_expectancy                           4670
human_development_index                   8917
dtype: int64

# Continents in terms of occurence of COVID-19 cases

In [8]:
df.continent.value_counts()

Africa           23955
Asia             22082
Europe           21992
North America    11325
South America     5607
Oceania           3239
Name: continent, dtype: int64